---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro';
import About from '../components/about.astro';
import Invertir from '../components/invertir/invertir.astro';
import Cta from '../components/cta.astro';
import Proyectos from '../components/proyectos/proyectos.astro';
import Equipo from '../components/equipo.astro';
import Contacto from '../components/contacto/contacto.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <About />
    <Invertir />
    <Cta />
    <Proyectos />
    <Equipo />
    <Contacto />
    <Footer />
  </main>
</Layout>
