---
import { Image } from '@astrojs/image/components';
import skyscrapers from '../../public/assets/images/skyscrapers.jpg';

//Component Import
import ContactButton from './comunes/contactButton.astro';
---

<section
  class="md:container mx-auto flex flex-col md:flex-row md:justify-center"
>
  <div class="flex flex-col flex-start px-9 font-montserrat mb-10 md:w-1/2">
    <h2 id="concretio" class="section-title mb-6">concretio</h2>
    <h3 class="section-highlight text-gray-900 mb-6">
      Una desarrolladora en constante crecimiento.
    </h3>
    <p class="section-text mb-6">
      Generamos estrategias integrales destinadas a agregar valor con visión de
      futuro para el sector del Real Estate, buscando siempre los más altos
      estandares del mercado.
    </p>
    <h4 class="mb-2 text-2xl">
      Creemos en <span class="font-bold block leading-none"
        >nuestro trabajo.</span
      >
    </h4>
    <h4 class="mb-12 text-2xl">
      Creemos en <span class="font-bold block leading-none"
        >una vida mejor.</span
      >
    </h4>
    <div>
      <ContactButton style={'black'} />
    </div>
  </div>
  <div class="md:w-1/2">
    <Image
      src={skyscrapers}
      alt=""
      format="avif"
      class="object-cover object-center w-full"
    />
    <!-- <img
      class="object-cover object-center w-full"
      alt="hero"
      src="https://concretio.com.ar/wp-content/uploads/2022/07/img1b.jpg"
    /> -->
  </div>
</section>
