---
import { Image } from '@astrojs/image/components';
import Sociales from './comunes/sociales.astro';
import logoConcretio from '../../public/assets/images/institucional/logo-concretio-v2.png';
---

<footer class="bg-white container font-montserrat">
  <div class="p-6 mx-auto">
    <div class="lg:flex">
      <div class="w-full mx-auto lg:w-2/5">
        <div class="px-6">
          <a href="#">
            <Image
              src={logoConcretio}
              class="w-60 h-auto mx-auto my-6"
              format="avif"
              alt="Logo Concretio"
            />
          </a>
          <h2
            class="text-4xl lg:text-5xl xl:text-7xl mb-4 text-gray-900 font-light text-center"
          >
            Las oportunidades no llegan,
            <br class="hidden lg:inline-block" />
            <span class="font-bold">se construyen.</span>
          </h2>
          <p class="section-text text-center max-w-sm mt-2">
            Somos una desarrolladora enfocada en la búsqueda de oportunidades de
            negocios.
          </p>
        </div>
        <Sociales />
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-300 border-none" />
    <div class="font-franklin text-sm">
      <div id="rights"></div>
      <p class="text-center text-gray-500 mt-2">
        Diseñado por <a
          href="https://brasa.agency/"
          target="_blank"
          class="font-bold text-blue-700">Brasa Agency</a
        >
      </p>
    </div>
  </div>
</footer>

<script>
  //Current Year Calculation as a script to be executed on client-side
  const year = new Date().getFullYear().toString();
  const rights = document.querySelector('#rights');

  rights.innerHTML = `<p  class="text-sm text-center text-gray-500">
        © ${year} - Todos los derechos reservados
      </p>`;
</script>
