---
---

<div class="">
  <div
    id="ss_survey_widget"
    style="position: relative; width: 90% !important; height: 500px !important;"
  >
    <iframe
      id="ss_widget_frame"
      allowfullscreen=""
      allow="camera"
      src="https://concretio.surveysparrow.com/widget/Reserva-tu-Cita---Praga-Boutique---Web/tt-02bccc?"
      style="transition: none 0s ease 0s; background-color:transparent !important; opacity: 1; border: none; z-index: 2147483647; width: 100% !important; height: 100% !important;"
    ></iframe>
  </div>

  <script
    type="text/javascript"
    async=""
    id="ss-widget"
    src="https://assets.surveysparrow.com/production/v50/widget.js?token=tt-02bccc"
  ></script>

  <!-- <script>
    (function () {
      var t,
        e,
        s,
        n = 'ss-widget',
        r = 'script',
        a = document,
        o = window;
      (o.SS_WIDGET_TOKEN = 'tt-02bccc'),
        (o.SS_ACCOUNT = 'concretio.surveysparrow.com'),
        (o.SS_SURVEY_NAME = 'Reserva-tu-Cita---Praga-Boutique---Web');
      a.getElementById(n) ||
        ((t = a.getElementsByTagName(r)),
        (s = t[t.length - 1]),
        (e = a.createElement(r)),
        (e.type = 'text/javascript'),
        (e.async = !0),
        (e.id = n),
        (e.src = [
          'https://',
          'assets.surveysparrow.com/production/v50',
          '/widget.js?token=',
          o.SS_WIDGET_TOKEN,
        ].join('')),
        s.parentNode.insertBefore(e, s));
    })();
  </script> -->
</div>
