---
import InvertirItems from './invertirItems.astro';
import menHhats from '../../../public/assets/images/men-hats.jpg';
---

<div class="bg-gray-100 pt-20">
  <section class="container mx-auto px-9 flex flex-col">
    <h2 id="invertir" class="section-title mb-6">invertir</h2>
    <h3 class="section-highlight text-gray-900 text-center mb-10">
      ¿Porqué invertir en CONCRETIO?
    </h3>
    <InvertirItems />
  </section>
  <img src={menHhats} alt="Men at construction site" class="my-12" />
</div>
