---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/blog/header.astro';
import Status from '../../components/blog/status.astro';
const pageTitle = 'Baku';
---

<Layout title={pageTitle}>
  <section
    class="container md:container mx-auto flex flex-col md:flex-row md:justify-center px-9 mt-14"
  >
    <Header />
    <Status />
  </section>
</Layout>
