---
import Carousel from './carousel.astro';
---

<section>
  <div
    class="md:container mx-auto flex flex-col md:flex-row md:justify-center pt-20 pb-8 px-9"
  >
    <h2 class="section-title mb-6">proyectos</h2>
    <h3 class="section-highlight mb-6">
      La seguridad y confort de un hogar, en un departamento.
    </h3>
    <p class="section-text mb-6">
      Explorá nuestras innovadoras propuestas arquitectónicas que se destacan
      por la creatividad de su diseño
    </p>
  </div>
  <Carousel />
</section>
